/*! responsive-nav.js 1.0.23 by @viljamis */

/*.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {

  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

*/
.nav-collapse {
  overflow-y: hidden;
  max-height: 200px; /* approximate max height */

  -webkit-transition-property: all;
  -webkit-transition-duration: .5s;
  /*transition-timing-function: cubic-bezier(0.5, 1, 0.5, 1);*/
  -webkit-transition-timing-function: linear;
}

.nav-toggle {
 /* -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  width: 28px; 
  height: 40px;
  position: absolute;
  right: 14px;
  margin-top:-42px;
  float: right;
  text-indent: -9999px;
  overflow: hidden;
  background: #f4421a url("../images/hamburger.gif") no-repeat 50% 33%;
}

.nav-collapse.closed {

  max-height: 0;
}

.nav-collapse.opened {

  max-height: 200px;
}

@media screen and (min-width: 48em) {
  .nav-collapse {
   max-height: 200px;
  }
  .nav-collapse.closed {
      max-height: 200px;
  }
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}
